/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace flexlib "http://code.google.com/p/flexlib/";
@namespace supertabs "flexlib.controls.tabBarClasses.*";
@namespace containers "platform.component.containers.*";
@namespace controls "platform.component.controls.*";


global{
	font-family:Arial;
	font-style:normal;
	font-size:12px;
}

/*Application*/
s|Application{
	font-family:Arial, "����";
	font-style:normal;
	font-size:12px;
	skinClass: ClassReference("ApplicationSkin");
	/*backgroundImage: Embed(source="style.swf",symbol="BackgroundImage");*/
}
mx|ToolTip
{	font-size:12px;}

/*.AdvancedTextInput{
	skinClass: ClassReference("platform.component.skins.AdvancedTextInputSkin");
}*/

mx|Alert{
	title-background-skin:Embed(source="style.swf",symbol="DataGrid_headerBackgroundSkin");
	border-color:#50a2c5;
	button-style-name:"Button";
	background-color:#ecf6fc;
}
/*SuperTabNavigator*/
supertabs|SuperTab{
	tab-close-button-style-name:"tabCloseButton";
}
flexlib|SuperTabBar{
	tab-style-name:"tabStyle";
}

flexlib|SuperTabNavigator{
	borderColor: #a3a3a3;
}
.NavigatorBar{
	background-image: Embed(source="resources/theme/images/navigatorbarbg.png");
	
}
.DropDownList{
	skinClass: ClassReference("platform.component.skins.DropDownListSkin");
	button-style-name:"DropDownListButton";
}
.DropDownListButton{
	disabledSkin: Embed(source="style.swf", symbol="ComboBoxArrow_editableDisabledSkin");
	downSkin: Embed(source="style.swf", symbol="ComboBoxArrow_editableDownSkin");
	overSkin: Embed(source="style.swf", symbol="ComboBoxArrow_editableOverSkin");
	upSkin: Embed(source="style.swf", symbol="ComboBoxArrow_editableUpSkin");
	disabledTriggerSkin:Embed(source="style.swf", symbol="ComboBoxArrow_editableDisabledSkin");
	downTriggerSkin:Embed(source="style.swf", symbol="ComboBoxArrow_editableDownSkin");
	overTriggerSkin:Embed(source="style.swf", symbol="ComboBoxArrow_editableOverSkin");
	upTriggerSkin:Embed(source="style.swf", symbol="ComboBoxArrow_editableUpSkin");
}
.tabCloseButton{
	alpha:0;
	upSkin:Embed(source="style.swf", symbol="Panel_closeButtonUpSkin"); 
	downSkin:Embed(source="style.swf", symbol="Panel_closeButtonDownSkin");
	overSkin:Embed(source="style.swf", symbol="Panel_closeButtonOverSkin");
	disabledSkin:Embed(source="style.swf", symbol="Panel_closeButtonDisabledSkin");
}

.tabStyle {
	disabledSkin: Embed(source="style.swf", symbol="Tab_disabledSkin");
	downSkin: Embed(source="style.swf", symbol="Tab_downSkin");
	overSkin: Embed(source="style.swf", symbol="Tab_overSkin");
	selectedDisabledSkin: Embed(source="style.swf", symbol="TabSelected_disabledSkin");
	selectedDownSkin: Embed(source="style.swf", symbol="TabSelected_upSkin");
	selectedOverSkin: Embed(source="style.swf", symbol="TabSelected_upSkin");
	selectedUpSkin: Embed(source="style.swf", symbol="TabSelected_upSkin");
	upSkin: Embed(source="style.swf", symbol="Tab_upSkin");
}
/*SuperTabNavigator*/
mx|PopUpButton{
	disabledSkin: Embed(source="style.swf", symbol="PopUpButton_disabledSkin");
	downSkin: Embed(source="style.swf", symbol="PopUpButton_downLeftSkin");
	overSkin: Embed(source="style.swf", symbol="PopUpButton_overLeftSkin");	
	popUpDownSkin: Embed(source="style.swf", symbol="PopUpButton_downRightSkin");
	popUpOverSkin: Embed(source="style.swf", symbol="PopUpButton_overRightSkin");
	upSkin: Embed(source="style.swf", symbol="PopUpButton_upSkin");
}

/**Banner**/
.banner_logo_zh_CN{
	backgroundImage:Embed(source="images/banner_logo.png");
}

.banner_logo_en_US{
	backgroundImage:Embed(source="images/banner_logo_en.png");
}

.banner_fill{
	backgroundImage:Embed(source="images/banner_fill.png");
}

.banner_right{
	backgroundImage:Embed(source="images/banner_right.png");
}
/*Banner*/
.mainContainer_bg{
	background-image:Embed(source="images/welcome_bg.png");
	background-image-fill-mode:scale;
	/*backgroundImage:Embed(source="images/welcome.png");*/
	paddingBottom:0;  	
	paddingLeft:0; 
	paddingRight:0;  	
	paddingTop:0; 
}
.mainContainer_zh_CN{
	background-image:Embed(source="images/welcome.png");
	background-image-fill-mode:clip;
	paddingBottom:0;  	
	paddingLeft:0; 
	paddingRight:0;  	
	paddingTop:0; 
}

.mainContainer_en_US{
	background-image:Embed(source="images/welcome_en.png");
	background-image-fill-mode:clip;
	paddingBottom:0;  	
	paddingLeft:0; 
	paddingRight:0;  	
	paddingTop:0; 
}

.mainWindow{
	backgroundAlpha:0;  	
	alpha:1.0; 	
	paddingBottom:0;  	
	paddingLeft:0; 
	paddingRight:0;  	
	paddingTop:0; 
}
/*.menuBar{
	backgroundImage:Embed(source="style.swf", symbol="MenuBar_backgroundSkin");
	skinClass: ClassReference("platform.component.menubar.skin.ButtonBarSkin");
	backgroundColor:#b2d7e2;
	skin-class:ClassReference("platform.component.menubar.skin.ButtonBarSkin");
	
}*/

mx|MenuBar
{
	backgroundSkin: Embed(source="style.swf", symbol="MenuBar_backgroundSkin");
	itemUpSkin: Embed(source="style.swf", symbol="MenuBar_itemUpSkin");
	itemOverSkin: Embed(source="style.swf", symbol="MenuBar_itemOverSkin");
	itemDownSkin: Embed(source="style.swf", symbol="MenuBar_itemDownSkin");
}

.mebuBarButton{
	skin-class:ClassReference("platform.component.skins.ButtonSkin");
	disabledSkin: Embed(source="style.swf", symbol="PopUpButton_disabledSkin");
	downSkin: Embed(source="style.swf", symbol="MenuBar_itemDownSkin");
	overSkin: Embed(source="style.swf", symbol="MenuBar_itemOverSkin");	
	upSkin: Embed(source="style.swf", symbol="MenuBar_itemUpSkin");
}

/*Paging Bar*/
/*.pagingBarFirstButton{
	disabledSkin: Embed(source="style.swf", symbol="PagingBarButton_firstDisabledSkin");
	downSkin: Embed(source="style.swf", symbol="PagingBarButton_firstDownSkin");
	overSkin: Embed(source="style.swf", symbol="PagingBarButton_firstOverSkin");
	upSkin: Embed(source="style.swf", symbol="PagingBarButton_firstUpSkin");
}

.pagingBarNextButton{
	disabledSkin: Embed(source="style.swf", symbol="PagingBarButton_firstDisabledSkin");
	downSkin: Embed(source="style.swf", symbol="PagingBarButton_firstDownSkin");
	overSkin: Embed(source="style.swf", symbol="PagingBarButton_firstOverSkin");
	upSkin: Embed(source="style.swf", symbol="PagingBarButton_firstUpSkin");
}

.pagingBarPrevButton{
	disabledSkin: Embed(source="style.swf", symbol="PagingBarButton_firstDisabledSkin");
	downSkin: Embed(source="style.swf", symbol="PagingBarButton_firstDownSkin");
	overSkin: Embed(source="style.swf", symbol="PagingBarButton_firstOverSkin");
	upSkin: Embed(source="style.swf", symbol="PagingBarButton_firstUpSkin");
}

.pagingBarLastButton{
	disabledSkin: Embed(source="style.swf", symbol="PagingBarButton_firstDisabledSkin");
	downSkin: Embed(source="style.swf", symbol="PagingBarButton_firstDownSkin");
	overSkin: Embed(source="style.swf", symbol="PagingBarButton_firstOverSkin");
	upSkin: Embed(source="style.swf", symbol="PagingBarButton_firstUpSkin");
}
*/
.Tree{
	defaultLeafIcon: Embed(source="style.swf",symbol="Tree_defaultLeafIcon");
	disclosureClosedIcon: Embed(source="style.swf",symbol="Tree_disclosureClosedIcon");
	disclosureOpenIcon: Embed(source="style.swf",symbol="Tree_disclosureOpenIcon");
	folderClosedIcon: Embed(source="style.swf",symbol="Tree_folderClosedIcon");
	folderOpenIcon: Embed(source="style.swf",symbol="Tree_folderOpenIcon");
	border-color:#c4d4de;
}
.loginPanel_zh_CN{
	background-image:Embed(source="images/login.png");
	padding-top:10;
}
.loginPanel_en_US{
	background-image:Embed(source="images/login_en.png");
	padding-top:10;
}

.help{
	icon:Embed('resources/theme/images/help.png');
}
.logout{
	icon:Embed('resources/theme/images/logout.png');
}
.resetPass{
	icon:Embed('resources/theme/images/changepin.png');
}

.ComboBoxButtonSkin{
	disabledSkin: Embed(source="style.swf", symbol="ComboBoxArrow_editableDisabledSkin");
	downSkin: Embed(source="style.swf", symbol="ComboBoxArrow_editableDownSkin");
	overSkin: Embed(source="style.swf", symbol="ComboBoxArrow_editableOverSkin");
	upSkin: Embed(source="style.swf", symbol="ComboBoxArrow_editableUpSkin");
}

.ComboBoxTextInputSkin{
	/*disabledSkin: Embed(source="style.swf", symbol="ComboBoxArrow_disabledSkin");
	downSkin: Embed(source="style.swf", symbol="ComboBoxArrow_downSkin");
	overSkin: Embed(source="style.swf", symbol="ComboBoxArrow_overSkin");
	upSkin: Embed(source="style.swf", symbol="ComboBoxArrow_upSkin");*/
}

controls|ComboBox
{
	disabledSkin: Embed(source="style.swf", symbol="ComboBoxArrow_disabledSkin");
	downSkin: Embed(source="style.swf", symbol="ComboBoxArrow_downSkin");
	editableDisabledSkin: Embed(source="style.swf", symbol="ComboBoxArrow_editableDisabledSkin");
	editableDownSkin: Embed(source="style.swf", symbol="ComboBoxArrow_editableDownSkin");
	editableOverSkin: Embed(source="style.swf", symbol="ComboBoxArrow_editableOverSkin");
	editableUpSkin: Embed(source="style.swf", symbol="ComboBoxArrow_editableUpSkin");
	overSkin: Embed(source="style.swf", symbol="ComboBoxArrow_overSkin");
	upSkin: Embed(source="style.swf", symbol="ComboBoxArrow_upSkin");
	dropDownStyleName: "ComboBoxDropDowns";
}

mx|TextInput
{
	borderStyle:none;
	backgrounAlpha:1.0;
	borderColor:#B7BABC;
	borderSkin:Embed(source="style.swf",symbol="TextInput_borderSkin");
}

.TextInput{
	borderColor:#50a2c5;
}
.TextInputRequierd{
	borderColor:#50a2c5;
	contentBackgroundColor:#fcfcef;
}

.ComboBoxDropDowns {
	cornerRadius: 4;
}

.DataGrid {
	/*border-skin:Embed(source="style.swf",symbol="DataGrid_borderSkin");*/
	border-weight:1;
	border-visible:true;
	header-background-skin:Embed(source="style.swf",symbol="DataGrid_headerBackgroundSkin");
	stretch-cursor:Embed(source="style.swf",symbol="DataGrid_stretchCursor");
	sort-arrow-skin:Embed(source="style.swf",symbol="DataGrid_sortArrowSkin");
	column-drop-indicator-skin:Embed(source="style.swf",symbol="DataGrid_columnDropIndicatorSkin"); 
	column-resize-skin:Embed(source="style.swf",symbol="DataGrid_columnResizeSkin");
	header-separator-skin:Embed(source="style.swf",symbol="DataGrid_headerSeparatorSkin");
	alternatingItemColors: #eff1f2,#fafcfd;
	horizontalGridLines: true;
	horizontalGridLineColor: #c4d4de;
	verticalGridLines: true;
	verticalGridLineColor: #c4d4de;
	dropShadowEnabled: false;
	borderColor: #c4d4de;
	selectionColor: #C1E3F8;
	rollOverColor: #fbfbea;
}
/*s|TitleWindow{
	skin-class:ClassReference("platform.component.skins.STitleWindowSkin");
	backgroundImage: Embed(source="style.swf",symbol="Panel_titleBackgroundSkin");
	backgroundImageArea: Embed(source="style.swf",symbol="Panel_SpBackgroundImage");
	border-visible:false;
}*/
.TitleWindowCloseButtonStyle{
	skin:Embed(source="style.swf", symbol="Panel_closeButtonUpSkin");
	upSkin:Embed(source="style.swf", symbol="Panel_closeButtonUpSkin"); 
	downSkin:Embed(source="style.swf", symbol="Panel_closeButtonDownSkin");
	overSkin:Embed(source="style.swf", symbol="Panel_closeButtonOverSkin");
	disabledSkin:Embed(source="style.swf", symbol="Panel_closeButtonDisabledSkin");
}
.TitleWindow{
	title-background-skin:Embed(source="style.swf",symbol="Panel_titleBackgroundSkin");
	border-skin:Embed(source="style.swf",symbol="Panel_borderSkin");
	background-skin:Embed(source="style.swf",symbol="Panel_SpBackgroundImage");
	padding-top:40;
	padding-bottom:2;
	padding-left:20;
	padding-right:20;
	close-button-skin:Embed(source="style.swf", symbol="Panel_closeButtonDisabledSkin");
	close-button-up-skin:Embed(source="style.swf", symbol="Panel_closeButtonUpSkin"); 
	close-button-over-skin:Embed(source="style.swf", symbol="Panel_closeButtonOverSkin");
	close-button-down-skin:Embed(source="style.swf", symbol="Panel_closeButtonDownSkin");
	close-button-disabled-skin:Embed(source="style.swf", symbol="Panel_closeButtonDisabledSkin");
}
containers|GRGTitleWindow{
	title-background-skin:Embed(source="style.swf",symbol="Panel_titleBackgroundSkin");
	border-skin:Embed(source="style.swf",symbol="Panel_borderSkin");
	background-skin:Embed(source="style.swf",symbol="Panel_SpBackgroundImage");
	padding-top:40;
	padding-bottom:2;
	padding-left:20;
	padding-right:20;
	close-button-skin:Embed(source="style.swf", symbol="Panel_closeButtonDisabledSkin");
	close-button-up-skin:Embed(source="style.swf", symbol="Panel_closeButtonUpSkin"); 
	close-button-over-skin:Embed(source="style.swf", symbol="Panel_closeButtonOverSkin");
	close-button-down-skin:Embed(source="style.swf", symbol="Panel_closeButtonDownSkin");
	close-button-disabled-skin:Embed(source="style.swf", symbol="Panel_closeButtonDisabledSkin");
}
.Form{
	background-alpha:0;
}
.NumericStepper{
	up-arrow-skin:Embed(source="style.swf", symbol="NumericStepperUpArrow_upSkin");
	up-arrow-up-skin:Embed(source="style.swf", symbol="NumericStepperUpArrow_upSkin");
	up-arrow-over-skin:Embed(source="style.swf", symbol="NumericStepperUpArrow_overSkin");
	up-arrow-down-skin:Embed(source="style.swf", symbol="NumericStepperUpArrow_downSkin");
	up-arrow-disabled-skin:Embed(source="style.swf", symbol="NumericStepperUpArrow_disabledSkin");
	down-arrow-skin:Embed(source="style.swf", symbol="NumericStepperDownArrow_upSkin");
	down-arrow-up-skin:Embed(source="style.swf", symbol="NumericStepperDownArrow_upSkin");
	down-arrow-over-skin:Embed(source="style.swf", symbol="NumericStepperDownArrow_overSkin");
	down-arrow-down-skin:Embed(source="style.swf", symbol="NumericStepperDownArrow_downSkin");
	down-arrow-disabled-skin:Embed(source="style.swf", symbol="NumericStepperDownArrow_disabledSkin");
}
.CheckBoxGroup{
	skinClass: ClassReference("platform.component.skins.CheckBoxGroupSkin");
}
.TitleBar{
	background-image:Embed(source="style.swf", symbol="MenuBar_itemDownSkin");
	border-visible:false;
}

.BorderContainer{
	border-color: #c4d4de;
}

.SearchBar{
	backgroundImage: Embed(source="style.swf",symbol="BackgroundImage");
	border-visible:false;
	border-weight:0;
	
}
/*
.tipBg{
	backgroundImage: Embed(source="resources/theme/images/tip-yellow.png");
	backgroundSize: "100%";
}
*/
.Button{
	skin-class:ClassReference("platform.component.skins.ButtonSkin");
	disabledSkin: Embed(source="style.swf", symbol="Button_disabledSkin");
	downSkin: Embed(source="style.swf", symbol="Button_downSkin");
	overSkin: Embed(source="style.swf", symbol="Button_overSkin");
	upSkin: Embed(source="style.swf", symbol="Button_upSkin");
	padding-left:1;
	padding-right:1;
}
.AccordionHeader
{
	skin-class:ClassReference("platform.component.skins.AccordionHeaderSkin");
	disabledSkin: Embed(source="style.swf", symbol="Button_upSkin");
	downSkin: Embed(source="style.swf", symbol="Button_upSkin");
	overSkin: Embed(source="style.swf", symbol="Button_disabledSkin");
	upSkin: Embed(source="style.swf", symbol="Button_upSkin");
	selectedSkin: Embed(source="style.swf", symbol="Button_disabledSkin");
}
.LinkButton{
	skin-class:ClassReference("platform.component.skins.LinkButtonSkin");
	disabledSkin: Embed(source="style.swf", symbol="LinkButton_disabledSkin");
	upSkin: Embed(source="style.swf", symbol="LinkButton_upSkin");
	downSkin: Embed(source="style.swf", symbol="LinkButton_downSkin");
	overSkin: Embed(source="style.swf", symbol="LinkButton_overSkin");
	padding-left:1;
	padding-right:1;
}
.LinkButtons{
	downSkin: Embed(source="style.swf", symbol="LinkButton_downSkin");
	overSkin: Embed(source="style.swf", symbol="LinkButton_overSkin");
	padding-left:1;
	padding-right:1;
}
.List{
	border-color: #c4d4de;
}

.CheckBox{
	disabledIcon: Embed(source="style.swf", symbol="CheckBox_disabledIcon");
	downIcon: Embed(source="style.swf", symbol="CheckBox_downIcon");
	overIcon: Embed(source="style.swf", symbol="CheckBox_overIcon");
	selectedDisabledIcon: Embed(source="style.swf", symbol="CheckBox_selectedDisabledIcon");
	selectedDownIcon: Embed(source="style.swf", symbol="CheckBox_selectedDownIcon");
	selectedOverIcon: Embed(source="style.swf", symbol="CheckBox_selectedOverIcon");
	selectedUpIcon: Embed(source="style.swf", symbol="CheckBox_selectedUpIcon");
	upIcon: Embed(source="style.swf", symbol="CheckBox_upIcon");
}

.ComboBoxTree
{
	disabledSkin: Embed(source="style.swf", symbol="ComboBoxArrow_disabledSkin");
	downSkin: Embed(source="style.swf", symbol="ComboBoxArrow_downSkin");
	editableDisabledSkin: Embed(source="style.swf", symbol="ComboBoxArrow_editableDisabledSkin");
	editableDownSkin: Embed(source="style.swf", symbol="ComboBoxArrow_editableDownSkin");
	editableOverSkin: Embed(source="style.swf", symbol="ComboBoxArrow_editableOverSkin");
	editableUpSkin: Embed(source="style.swf", symbol="ComboBoxArrow_editableUpSkin");
	overSkin: Embed(source="style.swf", symbol="ComboBoxArrow_overSkin");
	upSkin: Embed(source="style.swf", symbol="ComboBoxArrow_upSkin");
	dropDownStyleName: "ComboBoxDropDowns";
}
.CheckBoxColumn{
	text-align:center;
}
.Panel{
	/*	skin-class:ClassReference("platform.component.skins.PanelSkin");
	icon:Embed(source="style.swf",symbol="CursorManager_busyCursor");
	title-background-skin:Embed(source="style.swf",symbol="Panel_titleBackgroundSkin");
	barBackgroundSkin:Embed(source="style.swf",symbol="Panel_titleBackgroundSkin");
	border-skin:Embed(source="style.swf",symbol="Panel_borderSkin");
	background-skin:Embed(source="style.swf",symbol="Panel_SpBackgroundImage");
	padding-top:40;
	padding-bottom:2;
	padding-left:20;
	padding-right:20;
	close-button-skin:Embed(source="style.swf", symbol="Panel_closeButtonDisabledSkin");
	close-button-up-skin:Embed(source="style.swf", symbol="Panel_closeButtonUpSkin"); 
	close-button-over-skin:Embed(source="style.swf", symbol="Panel_closeButtonOverSkin");
	close-button-down-skin:Embed(source="style.swf", symbol="Panel_closeButtonDownSkin");
	close-button-disabled-skin:Embed(source="style.swf", symbol="Panel_closeButtonDisabledSkin");*/
}

.MultiListTitle{
	background-image:Embed(source="style.swf",symbol="DataGrid_headerBackgroundSkin");
	padding-top:4;
	padding-bottom:4;
}
.MultiList{
/*	border-color:#c4d4de;*/
	border-visible:false;
	border-weight:0;
}

.SparkButton{
	disabledSkin: Embed(source="style.swf", symbol="Button_disabledSkin");
	downSkin: Embed(source="style.swf", symbol="Button_downSkin");
	overSkin: Embed(source="style.swf", symbol="Button_overSkin");
	upSkin: Embed(source="style.swf", symbol="Button_upSkin");
	icon:Embed(source='resources/theme/images/unlock.png');/*	//Embed(source="style.swf", symbol="SWFLoader_brokenImageSkin");*/
}

containers|TabHDivideBox{
	backgroundColor:#ecf6fc;
}